html, body {
    height: 100%; /* Make sure the body takes up the full height */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#chart, #filler {
    flex-grow: 1; /* This will make the last row fill the remaining space */
}

#infoMenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.5s;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
#infoMenu header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#infoMenu header .close {
    cursor: pointer;
    font-size: 24px;
}
